 <tr><td>&nbsp;</td></tr>

            <!-- Case ActU -->
            <tr>
              <td style="padding:30px;padding-bottom:0px;background-color:#ffffff;" align="center">
                <table style="margin-left:25px; margin-right:25px ">
                  <tbody>
                    <tr>
                      <td >
                        <table >
                          <tbody>
                            <tr><!-- Titre ActU -->
                              <td style="padding:10px" >
                                <table >
                                  <tbody>
                                    <tr>

                                      <td><a style="text-decoration:none;background:transparent;font-family:Arial, sans-serif;font-size:18px;line-height:120%;text-transform:none;margin:0px;">
                                        <b>&nbsp;ACTU&nbsp;</b></a>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <!-- Case ActU 2 -->
            <tr>
              <td style="padding:30px;background-color:#ffffff;font-size:13px;" align="left"  >
                <table style="margin-left:25px; margin-right:25px" >
                  <tbody>
                    <tr>
                      <td>
                        <table>
                          <tbody>


                            <!--Actu--><!--Actu-->
                            <!--Actu_JC--><!--Actu_JC-->
                            <!--Texte_Retrouvailles--><!--Texte_Retrouvailles-->



                          </tbody>
                        </table>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </td>
            </tr>
<!--FIN CASE ACTU-->
