</p>
</div>

</td>
</tr>


<!--début bloc citation-->

<tr>
    <td
       align="right" style="font-size:32px;color:#E36C0A;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;"
    >

    <br/>
    <center><b>«&nbsp;CITATION&nbsp;»<br/></b></center>

    <a style="font-size:10px" href="http://www.facebook.com/sharer.php?u=URL&t=CITATION" style="text-decoration:none" target="blank">
      <img alt="FB" style="border:0" height="25" width="15" src="https://lundicarotte.fr/img/facebook-couleur.png">
    </a> &nbsp;
    <a style="font-size:10px" href="http://twitter.com/share?url=URL&text=CITATION" style="text-decoration:none" target="blank">
      <img alt="TW" style="border:0" height="25" width="25" src="https://lundicarotte.fr/img/twitter-couleur.png">
    </a>
  </td>

</tr>

<!--fin bloc citation-->

<tr>
  <td
  align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;"
  >

  <div
  style="font-family:Libre Baskerville, Helvetica, Arial, sans-serif;font-size:13px;line-height:24px;text-align:justify;color:#000000;"
  >
  <p style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #000000; line-height: 20px; margin: 10px 0;">
