
                  <!-- Début liens de partage -->
                  <tr>
                                <td style="word-wrap:break-word;font-size:0px" align="center">
                                  <table style="border-collapse:separate;" align="center" >
                                    <tbody>
                                      <tr>
                                        <td style="border:0px solid #000000;color:#000000;background-color:#ffffff;cursor:auto;padding:3px;" align="center" valign="middle" >
                                          <center><a style="text-decoration:none;background:transparent;font-size:10px;line-height:120%;margin:0px;">
                                          <i>&nbsp;&nbsp;&nbsp;Partager ce LundiCarotte&nbsp;&nbsp;&nbsp;</i></a></center>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </td>
                              </tr>

                          <tr>
                            <td>
                              <center><a href="https://www.facebook.com/sharer/sharer.php?u=_URL_"><img alt="" title="" height="auto" src="https://lundicarotte.fr/api/admin/media/img/facebook.png" width="100"></a>
                              <a href="mailto:?subject=Un peu de lecture&body=Voici un lien vers un article qui devrait te plaire _URL_"><img alt="" title="" height="auto" src="https://lundicarotte.fr/api/admin/media/img/mail.png"  width="100"></a>
                              <a href="https://twitter.com/share?url=_URL_&text=Un%20petit%20peu%20de%20lecture%20aujourd%20hui%20avec%20un LundiCarotte%20a%20lire%20et%20a%20relire&via=lundicarotte"
                              ><img alt="" title="" height="auto" src="https://lundicarotte.fr/api/admin/media/img/twitter.png"  width="100"></a></center>
                            </td>
                          </tr>
                          <!-- fin liens de partage -->
