

        <tr><!-- Case Quizz -->
          <td style="padding:30px;background-color:#ffffff;" align="center">
            <table style="margin-left:25px; margin-right:25px ">
              <tbody>



                <tr>
                  <td>
                    <table align="center" >
                      <tbody>
                        <tr><!-- Titre A propos -->
                          <td style="word-wrap:break-word;font-size:0px" align="center">
                            <table style="border-collapse:separate;" align="center" >
                              <tbody>
                                <tr>
                                  <td align="center">
                                    <center><a href="url_quizz"><img alt="" title="" height="auto" src="https://lundicarotte.fr/api/admin/media/img/quizz-explication.png"  width="300"></a></center></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td align="center">
                      <table >
                        <tbody>
                          <tr><!-- Titre A propos -->
                            <td style="word-wrap:break-word;font-size:0px" align="center">
                              <table style="border-collapse:separate;" align="center" >
                                <tbody>
                                  <tr>
                                    <td style="border:2px solid #000000;border-radius:40px;color:#000000;background-color:#ffffff;cursor:auto;padding:3px;" align="center" valign="middle" >
                                      <center><a style="text-decoration:none;background:transparent;font-family:Arial, sans-serif;font-size:18px;font-weight:bold;line-height:120%;margin:0px;text-decoration:none;color:#000000" href="url_quizz">
                                        <b>&nbsp;&nbsp;&nbsp;LE QUIZZ&nbsp;&nbsp;&nbsp;</b></a></center>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
