

          <tr><!-- Case Quizz -->
            <td style="padding:30px;background-color:#ffffff;" align="center">
              <table style="margin-left:25px; margin-right:25px ">
                <tbody>




                  <tr>
                    <td
                    align="center" style="background:#ffffff;font-size:0px;padding:10px 25px;word-break:break-word;"
                    >

                    <table
                    border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
                    >
                    <tbody>
                      <tr>
                        <td  style="width:300px;">

                          <a
                          href="url_quizz" target="_blank"
                          >

                          <img
                          alt="" height="auto" src="https://lundicarotte.fr/api/admin/media/img/quizz-explication.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;" title="" width="300"
                          />

                        </a>

                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <tr>
              <td align="center">
                <table >
                  <tbody>
                    <tr><!-- Titre A propos -->
                      <td style="word-wrap:break-word;font-size:0px" align="center">
                        <table style="border-collapse:separate;" align="center" >
                          <tbody>
                            <tr>
                              <td style="border:2px solid #000000;border-radius:40px;color:#000000;background-color:#ffffff;cursor:auto;padding:3px;" align="center" valign="middle" >
                                <center><a style="text-decoration:none;background:transparent;font-family:Arial, sans-serif;font-size:18px;font-weight:bold;line-height:120%;margin:0px;text-decoration:none;color:#000000" href="url_quizz">
                                  <b>&nbsp;&nbsp;&nbsp;LE QUIZZ&nbsp;&nbsp;&nbsp;</b></a></center>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
          </tr>
