                            <tr>
                              <td style="font-family:Libre Baskerville ;color:#000000">

                               Gagnant_1 de <a target="_blank" href="Lien_JC" style="text-decoration: none; color: #E36C0A;">JeudiCarotte</a> n'est autre que Gagnant_2, qui remporte donc une bonne tablette de chocolat. Nous l'invitons à nous envoyer par e-mail son adresse postale.<br/><br/>
                              </td>
                            </tr>
                           		<tr>
                           			<td>
                           				<p style="margin:0px auto;border-top:3px solid #000000;width:100%;">
                           				</p>
                           			</td>
                            	</tr>
